apiVersion: apps/v1
kind: Deployment
metadata:
  name: wordpress
spec:
  selector:
    matchLabels:
      app: wordpress
  template:
    metadata:
      labels:
        app: wordpress
    spec:
      containers:
        - image: wordpress:5.5.1-apache
          name: wordpress
          env:
            - name: WORDPRESS_DB_HOST
              value: mysql
            - name: WORDPRESS_DB_PASSWORD
              value: secret
          ports:
            - containerPort: 80
              name: wordpress
          # volumeMounts:
          #   - name: wordpress-persistent-storage
          #     mountPath: /var/www/html
      # volumes:
        # - name: wordpress-persistent-storage
          # persistentVolumeClaim:
          #   claimName: wordpress-hw-pv-claim
