apiVersion: apps/v1
kind: Deployment
metadata:
  name: nginx
spec:
  selector:
    matchLabels:
      app: nginx
  template:
    metadata:
      labels:
        app: nginx
    spec:
      containers:
      - name: nginx
        image: nginx:latest
        imagePullPolicy: IfNotPresent
        volumeMounts:
          - mountPath: /var/log/nginx
            name: share-logs
          - mountPath: /etc/nginx/
            name: nginx-conf
            readOnly: true
      volumes:
      - name: share-logs
        hostPath:
          path: /tmp/test-11/share-logs
          type: DirectoryOrCreate
      - configMap:
          items:
            - key: nginx.conf # key name in configmap
              path: nginx.conf # file name in container
          name: nginx-conf
        name: nginx-conf
